* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: orange;
  color: #fff;
  height: 100%;
  line-height: 1.6;
 
}
.title{
  font-family: "Cursive";
  font-size:25px;
  font-weight:bold;
}
.container {
  
  margin: 0;  
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  scroll-snap-align: center;
}
#canvas{
  border: solid 1px blue;  
  width: 100%;
  object-fit: contain;
} 


